<div class="row justify-content-between">
  <div class="m-2 my-3 col-sm-10 col-lg-5">
    <h2>Update</h2>
    <div *ngIf="this.serverError.error" class="my-2 alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error! </strong> {{ this.serverError.errorMessage }}
      <button type="button" (click)="this.serverError.vanishError()" class="close" data-dismiss="alert"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="validationError.error" class="my-2 alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Error! </strong> {{ validationError.errorMessage }}
      <button type="button" (click)="validationError.vanishError()" class="close" data-dismiss="alert"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #userForm="ngForm" novalidate>
      <div class="form-group">
        <label for="horseName">Horse name</label>
        <input [(ngModel)]="updateHorseModel.name" name="name" type="text" class="form-control" id="horseName"
               aria-describedby="nameHelp" placeholder="Enter name" required>
      </div>
      <div class="form-group">
        <label for="description">Horse description</label>
        <input [(ngModel)]="updateHorseModel.description" name="description" type="text" class="form-control"
               id="description" aria-describedby="descriptionHelp"
               placeholder="Enter description">
      </div>
      <div class="form-group">
        <label for="birthdate">Date of birth</label>
        <input [(ngModel)]="updateHorseModel.birthdate" name="birthdate" type="date" class="form-control" id="birthdate"
               aria-describedby="birthdateHelp" placeholder="YYYY-MM-DD" required>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <select [(ngModel)]="updateHorseModel.rating" name="rating" class="form-control" id="rating" required>
          <option *ngFor="let opt of ratingOptions">{{opt}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="race">Race</label>
        <select [(ngModel)]="updateHorseModel.race" name="race" class="form-control" id="race">
          <option *ngFor="let opt of raceOptions">{{opt}}</option>
        </select>
      </div>
      <div *ngIf="imageError.error" class="my-2 alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{ imageError.errorMessage}}
        <button type="button" (click)="imageError.vanishError()" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="imageError.saved" class="justify-content-between p-2">
        <img alt="Image upload" class="w-50" [src]="sanitizedImageSrc">
        <button (click)="removeImage()" class="btn btn-outline-secondary mx-3">Remove Image</button>
      </div>
      <div class="form-group custom-file mt-3 mb-4">
        <input type="file" (change)="onUpload($event)" id="image" name="image" class="custom-file-input form-control"
               aria-describedby="ImageHelp" placeholder="Load Image">
        <label class="custom-file-label" for="image">Horse photo</label>
      </div>
      <div class="form-group">
        <button *ngIf="!ownerset" (click)="onChooseOwner()" class="btn mx-2 border-primary">Choose Owner</button>
        <div *ngIf="ownerset" class="alert alert-success d-flex flex-row justify-content-between align-items-center">
          <div>{{ownerMessage}}</div>
          <button (click)="onChooseOwner()" class="btn mx-2 btn-outline-success">Change Owner</button>
        </div>
      </div>
      <button (click)="onUpdateHorse()" class="btn btn-dark" type="submit">Update horse</button>
    </form>
  </div>
  <div *ngIf="changeOwner" class="m-2 my-3 col-sm-10 col-lg-6">
    <app-owner-search (setOwner)="onSetOwner($event)" [updatemode]="true"></app-owner-search>
  </div>
</div>
